.scale-box {
    width: 100px;
    height: 100px;
    background-color: orange;
    animation: scale 2s ease-in-out infinite;
}

@keyframes scale {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
}
