.container {
    display: flex;
    justify-content:center;
    align-items:start;
    height: 100vh;
}

.caixa {
    width: 200px;
    height: 100px;
    background-color: lightblue;
    border: 2px solid blue;
    padding: 40px;
    margin: 50px;
}
